body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Microsoft JhengHei', sans-serif;
  color: #666;
}

/*
 * Formatting the header area
 */
header {
  background-color: #f8e8df;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0 50px;
  font-size: 1.7em;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  text-decoration: none;
}

.menu {
  float: right;
  margin-top: 8px;
  padding-right: 10px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 30px;
}

.menu li a {
  color: #666;
  text-decoration: none;
}

.menu li a:hover {
  color: #e6b295;
  text-decoration: underline;
}

/*
 * Center the body content
 */
.container {
  width: 80%;
  margin: 80px auto;
}

div.home {
  padding: 0 50px;
  /*background-color: #f8e8df;*/
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.home img {
  width: 150px;
  border-radius: 50%
}

div.portfolio {
  padding: 0 50px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 36px;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
  color: #e6b295;
}

h3 {
  font-size: 24px;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #e6b295;
}

p {
  text-align: center;
}

p a {
  color: inherit;
  text-decoration: none;
}

p a:hover {
  text-decoration:underline;
}

/* about me */
.about-me-description {
  width: 45%;
  margin: 0 auto;
}

.about-me {
  width: 700px;
  height: 600px;
  background-image: linear-gradient(180deg, LightGrey 5%, DimGray 5.5%);
  border-radius: 10px;
  margin: 0 auto;
}

div.home .about-me p {
  color: #fff;
  font-family: 'Karla';
  font-style: 'Regular';
  font-weight: 300;
  padding: 60px 30px;
  text-align: left;
  margin: 0 auto;
}

/* grid cards*/
/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.card-main{
  max-width: 1200px;
  margin: 0 auto;
}

.card-image img{
  max-width: 100%;
  vertical-align: middle;
  border: 1px solid #eee;
  border-radius: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: flex;
  padding: 16px;
}

@media (min-width: 640px) {
  .cards-item {
    width: 50%;
  }
}

@media (min-width: 850px) {
  .cards-item {
    width: 50%;
  }
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 15px;
}

.card-content {
  padding: 16px;
}

.card-title {
  color: #666;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  text-align: center;
}

.card-text {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 400;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.keywords li {
  display: inline;
  border: 1px solid #e6b295;
  border-radius: 5px;
  padding: 8px;
  line-height: 300%;
}

.keywords li + li {
  margin-left: 15px;
}
